<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Sistema Bancário Distribuído</h1>
    <form action="" method="post">
        <div>
            <div>
                <h1>De:</h1>
                 <select>
                <option value="Banco1">Banco1</option>
                <option value="Banco2">Banco2</option>
                <option value="Banco3">Banco3</option>
                
                </select>
            </div>
            
            <div>
                <h1>Para:</h1>
                 <select>
                <option value="Banco1">Banco1</option>
                <option value="Banco2">Banco2</option>
                <option value="Banco3">Banco3</option>
                
                </select>
            </div>
        </div>
    
        <div>
            <div>
                 <label for="conta_origem">Conta origem: </label>
            <input type="text" name="conta_origem" id="conta">
            </div>
           
            <div>
                <label for="conta_origem">Conta destino: </label>
            <input type="text" name="conta_origem" id="conta">
            </div>
            
            <div>
                <label for="conta_origem">Valor: </label>
            <input type="text" name="conta_origem" id="conta">
            </div>
            
        </div>
        
    
        <button>Enviar</button>


    </form>
    
</body>
</html>